/*MASTER*/
body{
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  text-align: center;
}
.hexBtn{
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #4fccfa;
    background: rgba(0,0,0,0.6);
    font-size: 0.88rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

.hexBtn:hover{
    background: rgba(0,0,0,0);
}